.frommenu {
  background: linear-gradient(rgba(0, 0, 0, 0.53), rgba(255, 253, 253, 0.233)),
    url("../../../../assets//aboutus/aboutus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
